{{- $iconMap := dict "note" "pencil" -}}
{{- $iconMap  = dict "abstract" "list" | merge $iconMap -}}
{{- $iconMap  = dict "info" "info-circle" | merge $iconMap -}}
{{- $iconMap  = dict "tip" "bulb" | merge $iconMap -}}
{{- $iconMap  = dict "success" "circle-check" | merge $iconMap -}}
{{- $iconMap  = dict "question" "help-circle" | merge $iconMap -}}
{{- $iconMap  = dict "warning" "alert-triangle" | merge $iconMap -}}
{{- $iconMap  = dict "failure" "circle-x" | merge $iconMap -}}
{{- $iconMap  = dict "danger" "bolt" | merge $iconMap -}}
{{- $iconMap  = dict "bug" "bug" | merge $iconMap -}}
{{- $iconMap  = dict "example" "list-numbers" | merge $iconMap -}}
{{- $iconMap  = dict "quote" "quote" | merge $iconMap -}}

{{ $hidden := "open" }}

{{ if .IsNamedParams }}
    {{ $type := .Get "type" | default "note" }}
    {{ if .Get "canOpen" }}
        {{ if .Get "hidden" }}
            {{ $hidden = "" }}
        {{ end }}
        <details class="admonition {{ $type }}" {{ $hidden }}>
    {{ else }}
        <div class="admonition {{ $type }}">
    {{ end }}
        {{ if .Get "canOpen" }}
        <summary class="admonition-title">
        {{ else }}
        <div class="admonition-title">
        {{ end }}
            <span class="admonition-icon">{{ partial "helper/icon" (index $iconMap $type | default (index $iconMap "note")) }}</span>
            {{ .Get "title" | default (T $type) }}
        {{ if .Get "canOpen" }}
        </summary>
        {{ else }}
        </div>
        {{ end }}
        <p>{{ .Inner | markdownify }}</p>
    {{ if .Get "canOpen" }}
        </details>
    {{ else }}
        </div>
    {{ end }}
{{ else }}
    {{ $type := .Get 0 | default "note" }}
    {{ $htmlTag := "div" }}
    {{ if .Get 2 }}
        {{ if .Get 3 }}
            {{ $hidden = "" }}
        {{ end }}
        <details class="admonition {{ $type }}" {{ $hidden }}>
    {{ else }}
        <div class="admonition {{ $type }}">
    {{ end }}
        {{ if .Get 2 }}
        <summary class="admonition-title">
        {{ else }}
        <div class="admonition-title">
        {{ end }}
            <span class="admonition-icon">{{ partial "helper/icon" (index $iconMap $type | default (index $iconMap "note")) }}</span>
            {{ .Get 1 | default (T $type) }}
        {{ if .Get "canOpen" }}
        </summary>
        {{ else }}
        </div>
        {{ end }}
        <p>{{ .Inner | markdownify }}</p>
    {{ if .Get 2 }}
        </details>
    {{ else }}
        </div>
    {{ end }}
{{ end }}